<!-- 这是导航header -->
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="index.html"><img src="__STATIC__/fouroad/img/logo.png"
				style="width: 178px; height: 48px;"></a>
		</div>
		<div class="menu">
			<ul class="nav">
				<think:nav class="think_nav_menu" name="nav" tree="true">
					<eq name="nav.pid" value="0">
					<li><a href="{$nav.url|get_nav_url}"
						target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
						<eq name="nav.id" value="5">
						<div class="box">
							<ul>
								<volist name="nav._" id="subnav">
								<li><a href="{$subnav.url|get_nav_url}"
									target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$subnav.title}</a></li>
								</volist>
							</ul>
						</div>
						</eq></li>
					</eq>
				</think:nav>
			</ul>
		</div>
		<div class="butt">
			<a class="butt_an" type="button"  href="{:U('User/login')}">登陆 </a>
			<a class="butt_an" type="button" href="{:U('User/register')}">注册</a>
		</div>
	
	</div>
</div>