<extend name="Base/common" />

<block name="body">
<div class="banner_us">
	<div class="fix_inner">
		<ul>
			<li class="current2"><a href="{:U('Aboutus/index')}">方舟简介</a></li>
			<li><a href="{:U('Aboutus/news_list')}">方舟新闻</a></li>
			<li><a href="#">媒体报道</a></li>
			<li><a href="#">方舟文化</a></li>
			<li><a href="{:U('Aboutus/team')}">方舟团队</a></li>
		</ul>
	</div>
</div>

<!-- 详细页面主要内容代码  -->
<div class="content_us">
	<h2>公司简介</h2>
	<div class="us_l">
		<img src="__STATIC__/fouroad/img/QQ截图20150818174611.png"
			style="width: 450; height: 380px;">
	</div>
	<div class="us_r">
		<h3>坚持专业化、规模化、品牌化的原则</h3>
		<p style="text-indent: 0; line-height: 28px;">专注于电子商务行业，以"优秀执行，诚信合作"为公司的经营理念，以"产品创新，量身定制，用心服务，客户至上"为核心竞争力，致力于为企业提供一站式电子商务解决方案和网络营销服务，协助品牌商家打通全球电子商务销售链条、完善销售渠道、提升企业品牌价值，以先进的技术支持和优质的产品服务为基础和驱动力，为企业和消费者提供完善的解决方案和服务。</p>
	</div>
	<p>山西方舟商园电子商务有限公司，成立于2014年4月，注册资本850万元，是一家以互联网技术为核心的电子商务运营商。公司采用先进的网络技术与严谨的管理制度，是集电子商务系统开发、电子商务外包服务、网站平台建设、网络推广营销、外贸进出口服务、企业信用评级等多种业务为一体的专业电商公司。</p>
	<p>公司凭借对电子商务的深刻理解及专业的技术实力，帮助商家以最小成本、最小库存、最小风险实现互联网最全面、最精细的营销推广。
		公司建设开发的基于同城电子商务的晋城购【B2B2C】电商平台即晋城IEC平台中的内贸电子商务平台，加快了晋城电子商务的发展，提升了晋城企业电子商务应用水平，为助力晋城产业转型升级，推动晋城经济发展，营造良好的商务信用环境，带动周边地区经济发展。</p>
	<p>
		晋城购[B2B2C]电商平台，由山西方舟商园电子商务公司开发运营，是晋城市本土的综合性网上购物商城和市民一站式城市消费服务电子商务平台。
		平台坚持专业化、规模化、品牌化的原则，为商家提供品牌宣传机会的同时，更为广大消费者提供物美价廉的优质商品以及便捷的商品购买服务。
		平台建立了完善的采购、仓储、配送和售后服务系统，让顾客每次网购都能享受VIP待遇，保证所购商品会高效率、无损坏的呈现在您面前。</p>
	<p>公司坚持以安全诚信的交易环境和服务平台、高品质的商品、优质的售后服务，全方位的服务于每一位消费者，致力于发展成为区域性电子商务企业龙头。
		平台采用全新的框架体系，前台界面设计遵循美观性、实用性的原则，给用
		户带来完美的视觉享受和轻松的购物体验。后台采用模块化的管理机制，让平台管理更加方便、快捷、规范，并与现有主流社区系统深度结合，是目前国内领先的电商平台系统。
	</p>
	<p>平台功能极具电子商务特色。供应商入驻、佣金结算、平台掌控营销管理等功能从根源上解决的电商企业普遍存在的推广、招商、盈利等问题；商品评价、售后服务系统、商家保证金等功能确保了消费者的权益。新闻资讯、圈子和微商城等模块，丰富了商城系统的产品展示方式；手机客户端的使用，更加贴近当下的购物潮流。</p>

	<div class="us_pic_l">
		<p style="width: 500px">公司专注于电子商务行业，以"优秀执行，诚信合作"为公司的经营理念，以"产品创新，量身定制，用心服务，客户至上"为核心竞争力，致力于为企业提供一站式电子商务解决方案和网络营销服务，协助品牌商家打通全球电子商务销售链条、完善销售渠道、提升企业品牌价值，以先进的技术支持和优质的产品服务为基础和驱动力，为企业和消费者提供完善的解决方案和服务。
		</p>
		<div>
			<img src="__STATIC__/fouroad/img/overview_photo1.png">
		</div>

	</div>
	<div class="us_pic_r"></div>
</div>
</block>
