<extend name="Base/common" />

<block name="body">
<div class="banner_news">
	<img src="__STATIC__/fouroad/img/banner_us.jpg" style="width: 100%; height: 300px;">
</div>

<!-- 详细页面主要内容代码  -->
<div class="content_news">
	<div class="news_l">
		<h3>关于我们</h3>
		<div class="logo_news">
			<img src="__STATIC__/fouroad/img/logo.png">
		</div>
		<ul>
			<li><a href="{:U('Aboutus/index')}">方舟简介</a></li>
			<li><a href="{:U('Aboutus/news_list')}">方舟新闻</a></li>
			<li><a href="#">媒体报道</a></li>
			<li><a href="#">方舟文化</a></li>
			<li><a href="{:U('Aboutus/team')}">方舟团队</a></li>
		</ul>
	</div>

	<div class="news_r">
		<div class="main_news">
			<p
				style="height: 30px; line-height: 30px; text-indent: 1em; background: #eee;">2015年8月20日</p>
			<h2>2015年度方舟商院业绩汇报</h2>
			<p>8月15日，华润萬橡府金钥匙管家服务举行了盛大的落户仪式，这代表华润萬橡府将正式加入金钥匙物业联盟。这是继华润西堤红山、公元九里、西山墅之后的北京第四家华润地产项目加盟金钥匙物业联盟。</p>
			<p>业内分析，华润萬橡府加入金钥匙物业联盟，不仅意味着项目未来将为业主、租户和客户带来金钥匙"满意加惊喜"的高端服务，更意味着深耕海淀上清板块十年的华润萬橡府产品力再次得到了升级。</p>
			<p>据悉，金钥匙国际联盟首席运营官韩华、金钥匙国际联盟运营官邹国洲、国际金钥匙组织中国区北京地区副秘书长李迎春以及华润置地北京大区的相关领导出席了此次签约授牌仪式。</p>
			<p>授牌仪式上，金钥匙国际联盟总部代表宣读会员批准书和联盟总部的决定，并为华润萬橡府颁证、授牌、授予勋带、标识与旗帜，标志华润萬橡府正式加入金钥匙物业联盟。</p>
			<p>据了解，国际金钥匙组织起源于法国巴黎，自1929年至今，是全球唯一拥有85年历史的网络化、个性化、专业化、国际化的品牌服务组织。自1995年被正式引入中国以来，在中国已发展19年，并覆盖到225个城市，1600多家高星级酒店和高档物业，2600多名金钥匙会员，金钥匙服务已被国家旅游局列入国家星级饭店&rarr;标准。</p>
		</div>
	</div>
</div>
</block>
