<extend name="Base/common" />

<block name="body">
<div class="banner_us">
	<div class="fix_inner">
		<ul>
			<li><a href="{:U('Aboutus/index')}">方舟简介</a></li>
			<li class="current2"><a href="{:U('Aboutus/news_list')}">方舟新闻</a></li>
			<li><a href="#">媒体报道</a></li>
			<li><a href="#">方舟文化</a></li>
			<li><a href="{:U('Aboutus/team')}">方舟团队</a></li>
		</ul>
	</div>
</div>

<!-----详细页面主要内容代码----------------------------------->
<div class="content_list">

	<div class="list_l">
		<div class="list_tit">
			<h2>公司新闻</h2>
			<div class="yearsel">
				<select id="">
					<option value="全部年份">全部年份</option>
					<option value="2015">2015</option>
					<option value="2014">2014</option>
				</select>
			</div>
		</div>

		<div class="list_item">
			<div class="date">
				<div class="day">19日</div>
				<div class="month">8月</div>
				<div class="year">2015年</div>
			</div>
			<div class="list_con">
				<h5>2015半年度业绩汇报</h5>
				<p>中国杭州，2015年8月4日 —
					阿里巴巴集团（纽交所代号：BABA，或称"集团"）今日宣布，委任高盛前副主席Michael
					Evans担任阿里巴巴集团总裁兼执行董事，全面领导和负责集团的全球化业务，并向集团首席执行官张勇汇报。自2014年9月阿里巴巴集团上市以来，Evans一直担任...</p>
				<div class="tools">
					<a href="{:U('Aboutus/news')}">查看</a>
				</div>
			</div>
		</div>
		<div class="list_item">
			<div class="date">
				<div class="day">19日</div>
				<div class="month">8月</div>
				<div class="year">2015年</div>
			</div>
			<div class="list_con">
				<h5>2015半年度业绩汇报</h5>
				<p>中国杭州，2015年8月4日 —
					阿里巴巴集团（纽交所代号：BABA，或称"集团"）今日宣布，委任高盛前副主席Michael
					Evans担任阿里巴巴集团总裁兼执行董事，全面领导和负责集团的全球化业务，并向集团首席执行官张勇汇报。自2014年9月阿里巴巴集团上市以来，Evans一直担任...</p>
				<div class="tools">
					<a href="{:U('Aboutus/news')}">查看</a>
				</div>
			</div>
		</div>
		<div class="list_item">
			<div class="date">
				<div class="day">19日</div>
				<div class="month">8月</div>
				<div class="year">2015年</div>
			</div>
			<div class="list_con">
				<h5>2015半年度业绩汇报</h5>
				<p>中国杭州，2015年8月4日 —
					阿里巴巴集团（纽交所代号：BABA，或称"集团"）今日宣布，委任高盛前副主席Michael
					Evans担任阿里巴巴集团总裁兼执行董事，全面领导和负责集团的全球化业务，并向集团首席执行官张勇汇报。自2014年9月阿里巴巴集团上市以来，Evans一直担任...</p>
				<div class="tools">
					<a href="{:U('Aboutus/news')}">查看</a>
				</div>
			</div>
		</div>
		<div class="list_item">
			<div class="date">
				<div class="day">19日</div>
				<div class="month">8月</div>
				<div class="year">2015年</div>
			</div>
			<div class="list_con">
				<h5>2015半年度业绩汇报</h5>
				<p>中国杭州，2015年8月4日 —
					阿里巴巴集团（纽交所代号：BABA，或称"集团"）今日宣布，委任高盛前副主席Michael
					Evans担任阿里巴巴集团总裁兼执行董事，全面领导和负责集团的全球化业务，并向集团首席执行官张勇汇报。自2014年9月阿里巴巴集团上市以来，Evans一直担任...</p>
				<div class="tools">
					<a href="{:U('Aboutus/news')}">查看</a>
				</div>
			</div>
		</div>
		<!--页码------------------------------>
		<div class="pagerWrapper clearfix">
			<div class="pager">
				<div class="num">
					<a class="curr" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
					<a href="#">4</a> <a href="#">5</a>
				</div>
				<div class="btn next">
					<a href="#"><img src="__STATIC__/fouroad/img/pager_next.png"></a>
				</div>
			</div>
		</div>

	</div>
	<div class="list_r">
		<div class="hotnew">
			<h2>热点新闻</h2>
			<ul>
				<li><a href="{:U('Aboutus/news')}">炎炎夏日来袭 凤巢为家居降降温！</a></li>
				<li><a href="{:U('Aboutus/news')}">[凤巢家装]揭秘房屋装修风水的常识</a></li>
				<li><a href="{:U('Aboutus/news')}">2015年东大赛校园巡回宣讲会（2）</a></li>
				<li><a href="{:U('Aboutus/news')}">京东发布618阿里年中促销或下周揭晓</a></li>
				<li><a href="{:U('Aboutus/news')}">国务院电子商务发展 积极开展试点</a></li>
				<li><a href="{:U('Aboutus/news')}">顺丰整台：优选和嘿客合并</a></li>
				<li><a href="{:U('Aboutus/news')}">东莞成下个经主题园区开业</a></li>
			</ul>
		</div>
	</div>
</div>
</block>
