<extend name="Base/common" />

<block name="body">

<div class="banner">
	<div id="yc-mod-slider">
		<div class="wrapper">
			<div id="slideshow" class="box_skitter fn-clear">
				<ul>
					<volist name="home_adv" id="adv">
					<li><img alt="Joomla模板与内容的融合设计" class="cubeRandom"
						src="__ROOT__{$adv.cover_path}"
						style="width: 100%; height: 450px;" /></li>
					</volist>
				</ul>
			</div>
			<script type="text/javascript"
				src="__STATIC__/fouroad/js/slideshow.js"></script>
		</div>
	</div>
</div>

<!-- 详细页面主要内容代码 -->
<div class="content_product">
	<div class="content_product_g">
		<div class="content">
			<div class="content_product_img">
				<img src="__STATIC__/fouroad/img/_2.jpg">
			</div>
			<div class="content_product_word">
				<h2>单品制胜打造爆款</h2>
				<p>一张图片，一段描述，通过商城店铺，即可一键生成爆款页面，瞬间让你的商品充斥在微信朋友圈、来往、易信等消费者聚集地，无限创新商业模式</p>
			</div>
		</div>
	</div>
	<div class="content_product_w">
		<div class="content">
			<div class="content_product_word">
				<h2>单品制胜打造爆款</h2>
				<p>一张图片，一段描述，通过商城店铺，即可一键生成爆款页面，瞬间让你的商品充斥在微信朋友圈、来往、易信等消费者聚集地，无限创新商业模式</p>
			</div>
			<div class="content_product_img">
				<img src="__STATIC__/fouroad/img/_4.jpg">
			</div>
		</div>
	</div>
	<div class="content_product_g">
		<div class="content">
			<div class="content_product_img">
				<img src="__STATIC__/fouroad/img/_2.jpg">
			</div>
			<div class="content_product_word">
				<h2>单品制胜打造爆款</h2>
				<p>一张图片，一段描述，通过商城店铺，即可一键生成爆款页面，瞬间让你的商品充斥在微信朋友圈、来往、易信等消费者聚集地，无限创新商业模式</p>
			</div>
		</div>
	</div>
	<div class="content_product_w">
		<div class="content">
			<div class="content_product_word">
				<h2>单品制胜打造爆款</h2>
				<p>一张图片，一段描述，通过商城店铺，即可一键生成爆款页面，瞬间让你的商品充斥在微信朋友圈、来往、易信等消费者聚集地，无限创新商业模式</p>
			</div>
			<div class="content_product_img">
				<img src="__STATIC__/fouroad/img/_4.jpg">
			</div>
		</div>
	</div>

	<p style="margin: 0 auto; width: 200px;">
		<input class="butt2" value="在线QQ咨询" type="submit"
			style="margin: 35px 0;">
	</p>
</div>

</block>
